html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items:center;
  padding-top: 40px;
  padding-bottom: 40;
  background-color: #dde6f1;
}

.form-signin {
  width: 100%;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2; 
}

.top {
  margin-bottom: 1%;
  
}
.middle{
  margin: 2% 0%;
}

.bottom {
  margin-bottom: 1%;
}

h1 {
  display: inline;
}

.boton {
  display: inline;
  margin-bottom: 2%;

}

.btnFile {
  display: inline;
  margin-bottom: 2%;
}


.redText{
  color: red;
}

.greenText{
  color: green;
}